@font-face {
    font-family:"raleway";
    src: url("../Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

* {
    font-family: "raleway";
}

html, body {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
 }


header {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    border-radius: 2px;
    flex-direction:row;
}

nav {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    border-radius: 2px;
    flex-direction:row;
}

body {
 background-color: rgb(255, 255, 255); 
 font-family: "raleway"; 
 font-size: 100%;
 }
article {
    background-color: rgb(242, 242, 242); 
    font-size: 100%;
    display:inline-block;
    border-radius: 30px;
    padding: 1%;
    margin: 5px;
 }
section {
    display:flex;
    width: 100%;
    overflow: auto;
}


footer {
    background-color: rgb(242, 242, 242); 
    font-size: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 200px;
 }

.footer_list
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.footer_list_titre
{
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
}

.footer_list_link
{
    display: block;
    margin-top: 10px;
}

h1 {
 font-size: 110%; 
 color: rgb(0, 0, 0); 
 text-align: left;
 }
h2 {
    display: flex;
 font-size: 110%; 
 width: 100%;
 color: rgb(0, 0, 0); 
 padding-left: 15px;
 }
h3 {
    font-size: 90%; 
    color: rgb(0, 0, 0); 
    padding-left: 15px;
    text-align: center;
}
h3 a:hover {
    color: rgb(0, 101, 252);
    text-decoration: none;
}
h4 {
    color: rgb(0, 0, 0); 
}
p,ul,li,td {
 color: black; 
 font-size: 90%; 
 }
dl {
    font-size: 100%; 
    display: block;
}

button {
    color:rgb(255, 255, 255);
    background-color: rgb(0, 101, 252);
}
dt {
    font-size: 120%; 
    display:flex;
    vertical-align:middle;
    width: 33%;
    padding-right:5px;
}

dd {
    font-size: 120%; 
}

div{
    display: block;
}
a:link {
 color: rgb(0, 0, 0);
 text-decoration: none;
 }
a:visited {
 color: rgb(0, 0, 0);
 }
a:hover {
 color: rgb(0, 101, 252);
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}

.header_link
{
    color: rgb(242, 242, 242); 
}
.header_link_I
{
    color: rgb(0, 101, 252);
}

.imageflottante_B
{
    float: bottom;
}
.imageflottante_L
{
    float: left;
}
.imageflottante_R
{
    float: right;
}
.imageflottante_T
{
    float: top;
}

.bulle
{
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 2px;
        border-top-color: currentcolor;
        border-top-style: none;
        border-right-color: currentcolor;
        border-right-style: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-left-color: currentcolor;
        border-left-style: none;
    border-style: solid;
    border-color: rgb(225, 225, 225);
    margin: 5px;
    height: 50px;
    align-content: center;
    overflow: hidden;
    color: black;
    align-items: center;
    padding: 0px;
}

.bulle_txt
{
    margin-left: 10px;
    font-weight: 600;
    margin-right: 20px;
}

.bulle:hover
{
    background-color:  rgb(222, 235, 255);
}

.bulle_M
{
    display: inline-flex;
    flex-direction: row;
    color: rgb(242, 242, 242);
    background-color: white;
    border-color: white;
    border: 3px;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 3px;
        border-right-color: currentcolor;
        border-right-style: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 3px;
        border-left-color: currentcolor;
        border-left-style: none;
    margin: 0px;
    padding-top: 1%;
    width: 200px;
    height: 50px;
    align-content: center;
    justify-content: center;
    border-bottom-width: 0px;
    border-top-width: 3px !important;
    border-style: solid;
    border-color: white;
}
.bulle_M:hover
{
    border-radius: 0px;
    border-top: 3px;
    border-style: solid;
    border-color: white;
        border-top-color: white;
    border-top-color: rgb(0, 101, 252);
    color: rgb(0, 101, 252);
}

.bulle_R
{
    display: inline-flex;
    flex-direction:row;
    align-content: center;
    width: 400px;
    height: 50px;
    margin: 10px;
    padding: 0px;
    border: 1px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
    overflow: hidden;
    align-items: center;
    margin-bottom: 30px;
}

.bulle_H {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    border-color: white;
    border-style: solid;
    margin: 5px;
    width: 300px;
    height: 200px;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px 0.01px rgb(196, 196, 196);
}

.bulle_H_txt
{
    margin-left: 15px;
}

.bulle_P
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 30px;
    border-color: white;
    border-style: solid;
    margin: 10px;
    width: 20vw;
    height: 120px;
    overflow: hidden;
    justify-content: space-around;
    align-items: normal;
    -webkit-box-shadow: 0px 0px 10px 0.01px rgb(196, 196, 196);
}

.bulle_P_txt
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: first baseline;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin: 10px;
    width: 40%;
    height: 100%;
}

.bulle_A
{
    display: flex;
    flex-direction:column;
    background-color: white;
    border-radius: 30px;
    width: 20vw;
    margin: 2%;
    margin-right: 2%;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 10px 0.01px rgb(196, 196, 196);
}

#bulle_A_1
{
    height:90%;
}
#bulle_A_2
{
    height: 50%;
}
#bulle_A_3
{
    height: 30%;
    margin-top: 15%;
}
#bulle_A_4
{
    height: 90%;
}
#bulle_A_5
{
    height: 35%;
}
#bulle_A_6
{
    height: 45%;
    margin-top: 15%;
}

.hebergement {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgb(242, 242, 242);
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 2%;
    flex-direction: row;
    width: 67%;
    font-size: 100%;
    display: inline-flex;
    border-radius: 30px;
    padding: 1%;
    margin: 0px;
    justify-content: space-around;
    margin-left: 0px;
}

#hebergement_txt
{
    margin-left: 20px;
}

#populaires_txt
{
    margin-left: 50px;
    justify-content: space-between;
}

.icon_data
{
    margin-right: 70px;
}


.populaires {
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    width: 25%;
    justify-content: space-around;
    align-content: center;
    font-size: 100%;
    display: inline-flex;
    border-radius: 30px;
    align-items: center;
    overflow: hidden;
    margin-left: 3%;
}

.activite
{
    display: flex;
    width: 100%;
    height: 600px;
    margin-left: 0%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    overflow: hidden;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}

.filtre
{
    display: inline;
}

.retour_ligne
{
    width: 100%;
}

.recherche_button
{
    height: 100%;
    align-self: flex-end;
    width: 25%;
    font-size: 16px;
    border:white;
}

.logo_R
{
    width:100px;
    height:50px;
    float: left;
}

#mapmarker
{
    font-size:24px;
    font-size: 24px;
    margin-left: 0px;
    background-color: rgb(242, 242, 242);
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.image_H
{
    width:100%;
    height:70%;
    object-fit: cover;
}

.image_P
{
    width:50%;
    height:120px;
}

.image_A
{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.filtre_icon
{
    font-size: 24px;
    color: rgb(1, 82, 255);
    border-radius: 50%;
    background-color: rgb(222, 235, 255);
    display: flex !important;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.filtre_star
{
    color: rgb(1, 82, 255);
}
.filtre_nostar
{
    color: rgb(242, 242, 242);
}


.activite_block
{
    height: 100%;
    width: auto;
}

#section1 {
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 2%;
}

#infobulle {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 30px;
}
#infobulle_bulle
{
    color: rgb(1, 82, 255);
    font-size: 20px;
}

#text_infobulle {
    margin-left: 1%;
}

.text_activite {
    display: block;
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#text_inscription
{
    color: rgb(1, 82, 255);
}

#site-search
{
    width: 60%;
    height: 100%;
    border-color:  rgb(242, 242, 242);
    font-weight: 600;
    padding: 20px;
    font-size: 14px;
    border-style: solid;
    border-color: white;
}

#navigation
{
    margin-left: 0%;
}

#inscription
{
    float: right;
    padding-top: 5px;
}

#afficher_plus
{
    font-weight: bolder;
    margin-left: 2%;
    margin-top: 20px;
}

@media screen and (max-width: 1000px)
{
    #section1
    {
        flex-direction: column-reverse;
        margin-left: 0px;
    }

    .populaires
    {
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
        padding-bottom: 10%;
    }

    #hebergement
    {
        width:100%;
        margin-left: 0px;
        background-color: white;
        padding: 0px;
    }

    #activite
    {
        flex-wrap: wrap;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    .footer
    {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 10%;
        padding-left: 0%;
        padding-bottom: 50px;
        text-align: left;
    }

    .bulle_P
    {
        width: 300px;
    }

    body
    {
        margin: 0px;
    }

    header{
        width: 100%;
    }

    nav{
        width: 100%; 
    }

    html
    {
        margin: 0px;
    }

    .image_P
    {
        width: 50% ;
    }

    #navigation
    {
        margin-left: 5%;
        margin-right: 5%;
    }

    .bulle_R
    {
        width: 99%;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 15px;
    }

    #activite_txt 
    {
        margin-left: 0px;
    }

    .activite_block {
        width: 95%;
    }

    #inscription
    {
        width: 50%;
        border-bottom-color: white;
    }

    .logo_R{
    }

    #text_inscription
    {
        font-size: 24px;
        text-align: right;
        margin-left: 30%;
    }

    .bulle_A{
        width: 100% !important;
        height: 150px !important;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #bulle_A_2 {
        height: 300px;
    }

    .bulle_M:hover
    {
        border-radius: 0px;
        border-bottom: 3px;
        border-style: solid;
        border-color: white;
        border-top-color: white;
        border-bottom-color: rgb(0, 101, 252);
        color: rgb(0, 101, 252);
    }

    .bulle_M
    {
        border-bottom-color: rgb(242, 242, 242);
        border-bottom-width: 3px;
        border-bottom-style: solid;
        width: 50%;
    }

    .bulle_H
    {
    }

    .footer_list_link {
        font-size: 16px;
        margin-left: 4%;
    }

    .footer_list {
        width: 100%;
        font-size: 22px;
    }

    .filtre
    {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
    }

    #populaires_txt {
        margin-left: 0px;
    }

    h2 {
        padding-left: 0px;
    }

    .footer_list_titre {
        margin-left:4%;
    }

    .text_activite {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #afficher_plus {
        margin-left: 10%;
    }

    .bulle_P_txt {
        font-size: 12px;
    }

    #text_infobulle {
        margin-left: 5%;
    }

    #infobulle {
        margin-left: 0%;
    }

    #site-search {
        width: 70%;
    }

    #mapmarker {
        width: 15%;
    }

    .recherche_button {
        width: 15%;
        border-radius: 15px;
    }

    #bulle_A_3
    {
        margin-top: 8%;
    }

    #bulle_A_6
    {
        height: 45%;
        margin-top: 8%;
    }
}